.el-aside {
    height: 100vh;
    padding: 5px 0 5px 20px;
    .side-bar {
        padding-top: 30px;
        background-color: #0559AA;
        border-radius: 15px;
        height: -webkit-fill-available;
        .el-menu {
            border: none;
            .el-menu-item, .el-submenu__title {
                height: 40px;
                line-height: 40px;
                transition: none;
                color: white;
                padding-left: 5px !important;
                &:focus, &:hover {
                    border-top-left-radius: 12px;
                    border-bottom-left-radius: 12px;
                    color: $color-black;
                }
                &.is-active i {
                    color: #909399;
                }
            }
            .current {
                border-top-left-radius: 12px;
                border-bottom-left-radius: 12px;
                color: $color-black;
                background-color: white;
            }
        }
        .profile {
            padding: 30px 0 15px 0;
            background-color: #8DD7D1;
            .profile-img img {
                width: 50px;
                border-radius: 50%;
            }
            i {
                font-size: 1.5rem;
                cursor: pointer;
                &:hover {
                    color: white;
                }
            }
        }
    }
}